<!DOCTYPE html>
<html>
<head>
<style>
body {
    margin-left: 50px;
    margin-right: 50px;
    background-color: #ffffff;
    font-family: sans-serif;
    color: #505050
}

h1 {
    color: #129793;
}  

a { color: #FF7260;
    }
    

</style>
  <title>1006 Discussion Board - New Post</title>
</head>

<body>
  <h1> Create New Post</h1>
  <p>
    <form action="/" method="GET">
      Your name: <input type="text" name="author"/><br/>
      Password: <input type="password" name="password"/><br/>
      Your post: <br/>
      <input type="text" size="140" name="content"/><br/>
      <input type="submit" value="Post"><br>
      <a href="/"> cancel </a>
    </form>
  </p>
</body>

</html>
